<div class="jumbotron jumbotron-fluid">
    <div class="container" style = "text-align:center; color:steelblue">
      <h1 class="display-4"> QDynamics</h1>
      <p class="lead">test platform</p>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <app-pal></app-pal>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <app-gojs-diagram [model]='model' (nodeClicked)=setSelectedNode($event)></app-gojs-diagram>
        </div>
        <div class="col">
            <app-inspector [selectedNode]='selectedNode'[model]='model'></app-inspector>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button (click)="tellInfo()">Tell Information</button>
        </div>
        <div class="col"></div>
    </div>

</div>